.title
  Enginner Profile

.main
  %ul.side__menu
    %li.side__menu__myPage
      my page
    %li.side__menu__follow
      follow
  .form
    .form__title
      user search
    .form__box
      = form_with do |f|
        .form__box__input
          =f.text_field :string, placeholder: "type a keyword", class: "form__box__text"
          = f.submit 'search', class: 'submit__btn'
  