.profileMain
  .space
  .main
    =render "shared/side_var"
    .followTitle
      Follower list
      .main__users__list
        - @users.followers.each do |user|
          -# 架空のテーブルfollowers(フォローしてくれてる人)の情報をuserテーブル経由で取り出している
          -# folllowersは自分をフォローしてくれてる人
          = link_to user_path(user), class: "main__users__list--link" do
            .main__users__list__row
              %ul
                %li
                  = image_tag user.image.url, class: "main__users__list__row__image"
                %li.main__users__list__row__name
                  = user.name
  .footer
    Copyright &copy; 2019 Engineer Profile All Rights Reserved.