.profileMain
  .wapper
    .followTitle
      Follow list
      .followTitle__main
        - @users.followers.each do |user|
          .main__users__name
            = user.name
            = link_to "details", user_path(user.id), class: "main__users__details"
            -# 架空のテーブルfollowers(フォローしてくれてる人)の情報をuserテーブル経由で取り出している