.account-page{
  background-image: image-url("backgroundimage.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
}

.account-page {
  height: 1150px;

  .info{
    color: white;
    font-size: 2.3rem;
    letter-spacing: 2px;
    position: absolute;
    top: 440px;
    left: 5%;
  }
  .account-page__inner {
    height: 60%;
    width: 30%;
    min-width:500px;
    margin: 190px 68% 0 32%;
    padding: 60px 70px 60px;
    background-color: #fff;
    opacity: 0.85;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: scroll;

    .account-page__inner__text{
      width: 100%;
      font-size: 32px;
      margin-bottom: 10px;

      .logUp__logIn__logOut--btn{
        text-decoration: none;
        color: black;
      }
      .logUp__logIn__logOut--btn:hover{
        color: $white;
        transition-duration: 0.6s;
      }
    }
  }

  .account-page__signUp {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 40px;
      color: #fff;
      background-color: #ccc;
      border-radius: 6px;
      width: 60%;
      font-size: 1.2rem;
      text-decoration: none;
    }
    .btn:hover {
      background    : rgb(168, 167, 167);
    }
  }
  
  .btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }
  
  .field {
    margin-bottom: 10px;
    margin: 0 auto;

    .field-label {
      padding: 30px 0 20px;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: bold;

      i {
        font-size: 11px;
      }
      .imageFieldLabel{
        display: block;
        background-image: image-url("default.png");
        background-size: cover;
        background-position: center;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow:hidden;
      }
      .imageFieldLabel:hover{
        box-shadow: 2px 2px 6px 0 #000000;
        transition-duration: 0.5s;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }

      #user_programming_lang{
        border: solid 1px gainsboro;
        padding: 10px;
        }
      #user_pr{
      border: solid 1px gainsboro;
      padding: 10px;
      }
    }
  }
        .actions{
          display: flex;
          align-items: center;
          justify-content: center;
          input {
            font-size: 1.2rem;
            height: 50px;
            width: 60%;
            line-height: 50px;
            letter-spacing: 1px;
            margin-top: 80px;
            color: #fff;
            background-color: #494949;
            border-radius: 6px;
          }
          input:hover {
            background: #2c2c2c;
          }
        }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
.imageField{
  display: none;
} 
