body{
  background-image: url("backgroundimage.jpg");
  height: 1270px;
  // width: 1920px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.account-page {
  height: 1270px;
  .account-page__inner {
    height: 50%;
    width: 30%;
    margin: 170px 68% 0 32%;
    padding: 60px 70px 60px;
    background-color: #fff;
    opacity: 0.85;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: scroll;

    .account-page__inner__text{
      width: 100%;
      font-size: 32px;
      margin-bottom: 10px;

      .logUp__logIn--btn{
        text-decoration: none;
        color: black;
      }
      .logUp__logIn--btn:hover{
        color: #cecccc;
        transition-duration: 0.6s;
      }
    }
  }

  .account-page__signUp {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }

    .btn {
      margin-top: 70px;
      color: #fff;
      background-color: #ccc;
      border-radius: 6px;
      width: 60%;
      font-size: 1.2rem;
      text-decoration: none;
    }
    .btn:hover {
      background    : rgb(168, 167, 167);
    }
  }
  
  .btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 2px;
  }
  
  .field {
    margin-bottom: 10px;
    margin: 0 auto;

    .field-label {
      padding: 20px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }

      #user_programming_lang{
        border: solid 1px gainsboro;
        }
      #user_pr{
      border: solid 1px gainsboro;
      }
    }
    .actions{
      display: flex;
      align-items: center;
      justify-content: center;
      input {
        font-size: 1.2rem;
        height: 50px;
        width: 60%;
        line-height: 50px;
        letter-spacing: 1px;
        margin-top: 50px;
        color: #fff;
        background-color: #494949;
        border-radius: 6px;
      }
      input:hover {
        background    : #2c2c2c;
      }
    }
  }


  .field-label {
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}