.profileMain
  .space
  .main
    =render "shared/side_var"
    .followTitle
      Follow list
      .main__users__list
        - @users.followings.each do |user|
          -# followingは自分がフォローしている人
          = link_to user_path(user), class: "main__users__list--link" do
            .main__users__list__row
              %ul
                %li
                  = image_tag user.image.url, class: "main__users__list__row__image"
                %li.main__users__list__row__name
                  = user.name
  .footer
    Copyright &copy; 2019 Engineer Profile All Rights Reserved.