.profileMain
  .wapper
    .followTitle
      Follow list
    .followTitle__main
      - @users.relationships.each do |relationships|
        .main__users__name
          = relationships.follow.name
          = link_to "Details", user_path(relationships.follow.id), class: "main__users__details"
