.profileMain
  .wapper
    .followTitle
      Follow list
    .followTitle__main
      - @users.followings.each do |user|
        .main__users
          = image_tag user.image.url, class: "main__users__image"
          = link_to user.name, user_path(user.id), class: "main__users__name"
          -# followingは自分がフォローしている人
