.followTitle{
  margin-top: 310px;
  font-size: 2.5rem;
  margin-left: 17%;
  text-align: center;
  width: 30%;
}
.followTitle__main{
  font-size: 1.2rem;
  .main__users{
    display: flex;
    align-items: center;
    padding: 10px 3% 2px 0;
    .main__users__image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px 0;
    }
    .main__users__name{
      font-size: 2rem;
      color: black;
      text-decoration: none;
      margin-left: 30px;
    }
    .main__users__name:hover{
      @include animateBtn($white);
    }
  }
}