.user__sns,
.user__programminglang,
.user__pr{
  h1{
  font-size: 32px;
  }
  h2{
    font-size: 24px;
  }
  h3{
    font-size: 18.72px;
  }
  h4{
    font-size: 16px;
  }
  h5{
    font-size: 13.28px;
  }
  h6{
    font-size: 10.75px;
  }
  strong{
    font-weight: bold;
  }
}