      .user__main__picture--design{
        height: 220px;
        width: 220px;
        border-radius: 50%;
        object-fit: cover;
      }

    .followOrEdit__btn{
      font-size: 2rem;
      padding:0 100px 15px 0;

      .user__edit__btn{
        @include showBtn;
        padding: 0 50px;
        border-radius: 5px;
        letter-spacing: 2px;
      }
      .user__edit__btn:hover{
        @include showBtnHover;
      }
      
        .follow-now,.follows{
          @include showBtn;
          width: 250px;
          border-radius: 5px;
          letter-spacing: 1px;
        }
        .follows:hover{
          @include showBtnHover;
        }
        .follow-now:hover{
          @include showBtnHover;
        }
    }
    .user__main{
      font-size: 1.5rem;
      width: 60%;
      margin-left: 9%;

      &__top{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      &__bottom{
          display: flex;
          flex-wrap: wrap;
        &__left{
          padding: 0 30px;
          .user__box__name{
            font-size: 2.2rem;
            margin-top: 10px;
          }

          ul{
            padding-top: 6px;
            margin-bottom: 30px;
          }
            li{
              font-size: 1.3rem;
            }
            li + li{
              padding: 4px 0 0 16px;
            }
        }
        &__right{
          margin: 50px 30px 30px 25px;
          width: 625px;

          ul{
            padding-top: 6px;
          }
            li{
              font-size: 1.3rem;
            }
        }
      }
    }