* {
  box-sizing: border-box;
}

.user__header{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 220px;
      .user__box__picture--design{
        height: 350px;
        width: 350px;
        border-radius: 50%;
        object-fit: cover;
      }

    .followOrEdit__btn{
      font-size: 2rem;
      padding:0 7% 15px 0px;
      .user__edit__btn{
        color: white;
        background: #494949;
        text-decoration: none;
        border: solid 1px black;
        padding: 0 50px;
        border-radius: 5px;
        letter-spacing: 2px;
      }
      .user__edit__btn:hover{
        color: black;
        background: white;
        transition-duration: 0.3s;
      }
      
        .follow-now,.follows{
          color: white;
          background: #494949;
          text-decoration: none;
          border: solid 1px black;
          width: 250px;
          border-radius: 5px;
          letter-spacing: 1px;
        }
        .follows:hover{
          color: black;
          background: white;
          transition-duration: 0.3s;
        }
        .follow-now:hover{
          color: black;
          background: white;
          transition-duration: 0.3s;
        }
    }
  }

.user__main{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .user__main__left{
    // margin-left: 20px;
    .user__box__name{
      font-size: 2.2rem;
      margin-top: 10px;
    }
    // background: #fafafa;
    // background: rgb(199, 199, 199);
    // margin-left: 0.5%;
    ul{
      padding-top: 6px;
    }
      li{
        font-size: 1.3rem;
      }
      li + li{
        padding: 4px 0 0 16px;
      }
  }
  .user__main__right{
    // background: #fafafa;
    // opacity: 0.75;
    // box-shadow: 1px  1px 5px 0px #cecece;
    margin-top: 50px;
    // padding: 20px;
    margin-left: 170px;
    margin-right: 25px;
    width: 625px;
    .user__pr{
      // width: 20%;
    }
    ul{
      padding-top: 6px;
    }
      li{
        font-size: 1.3rem;
      }
  }
}