.user__header{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 220px;
      .user__box__picture--design{
        height: 350px;
        width: 350px;
        border-radius: 50%;
        object-fit: cover;
      }

    .followOrEdit__btn{
      font-size: 2rem;
      padding:0 7% 15px 0px;

      .user__edit__btn{
        @include showBtn;
        padding: 0 50px;
        border-radius: 5px;
        letter-spacing: 2px;
      }
      .user__edit__btn:hover{
        @include showBtnHover;
      }
      
        .follow-now,.follows{
          @include showBtn;
          width: 250px;
          border-radius: 5px;
          letter-spacing: 1px;
        }
        .follows:hover{
          @include showBtnHover;
        }
        .follow-now:hover{
          @include showBtnHover;
        }
    }
  }

.user__main{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &__left{
    padding: 0 30px;
    .user__box__name{
      font-size: 2.2rem;
      margin-top: 10px;
    }

    ul{
      padding-top: 6px;
    }
      li{
        font-size: 1.3rem;
      }
      li + li{
        padding: 4px 0 0 16px;
      }
  }
  &__right{
    margin-top: 50px;
    margin-left: 170px;
    margin-right: 25px;
    width: 625px;

    ul{
      padding-top: 6px;
    }
      li{
        font-size: 1.3rem;
      }
  }
}