.NewOrEditPost__form{
  
  // 編集画面のプレビュー画像表示
  #image_prev{
    width: 350px;

  }
  #image_prev:hover{
    box-shadow: 2px 1px 3px 1px;
    transition-duration: 0.3s;
  }

  #post_image{
    display: none;
  }

  .new-post-image-form{
    font-size: 1rem;
    background: #a5a5a5;
    height: 150px;
    width: 100%;
    line-height: 150px;
    text-align: center;
  }
  .new-post-image-form:hover{
    box-shadow: 1px 1px 6px 1px;
    transition-duration: 0.3s;  
  }

  &--btn{
    text-align: center;

    &--submit{
      margin-top: 40px;
    }

    &--back{
      margin-top: 20px;
    }
  }
}


//ボタンパーツ

.text_form{
  width: 100%;
}

.submit__btn{
  @include showBtn;
  font-size: 1.6rem;
  padding: 0 160px;
  border-radius: 5px;
  letter-spacing: 2px;
  &:hover{
    background: #2c2c2c;
    color: $mainfontcolor;
  }
}

.back__btn{
  @include showBtn;
  background: #ccc;
  border: solid 1px #ccc;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0 100px;
  border-radius: 5px;
  letter-spacing: 2px;

  &:hover{
    background    : rgb(168, 167, 167);
    color: $mainfontcolor;   
  }
}
